h3 {
    color: azure;
font-size: 25px;
}

h4 {
color:#ebddff
}


h5 {
    color: rgb(255, 227, 193);
    border: 5px rgb(180, 233, 185) dashed; width:fit-content;

}


h6 {
    color: rgba(255, 255, 255, 0.474);
}

body {
background-color: rgb(156, 221, 180);
background: top left url(https://th.bing.com/th/id/OIP.Jfv2UDQy_zC17IMixNdDKAHaFj?cb=iwc2&rs=1&pid=ImgDetMain);
background-repeat: no-repeat;
/*background-size: cover;*/
}

 h2 {
    color: honeydew;
 }

.medium {
font-size: 50px;
color: rgb(236, 214, 241);
}

#h2-2 {
    font-size: 20px;
    color: rgb(255, 217, 190);
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
